*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #000;
    margin: 0;
    height: auto;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    
}
header h1{
    color: white;
    font-size: 26px;

}
header input{
    color: white;

}
header a{
    color: white;
    font-family:  monospace, 'Courier New', Courier;
    font-size: ;
}