*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background: powderblue;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: #000;
    align-items: center;
    padding: 2px;

}
.logo{
    display: flex;
    align-items: center; 
}
.logo img{
    height: 50px;
    margin-right: 10px;

}

a{
    text-decoration: none;
    color: white;
    font-size: 26px;

}
nav a{
    color: white;
    padding-right: 10px;
    height: 60px;
    
}
nav a:hover{
    
    color: mediumaquamarine;
    


}
nav #buscar{
    height: 30px;
    width: 200px;
    margin-right: 10px;
    font-family: monospace;
    color: black;
    outline: none;
    align-items: center;
    
}

.principal{
    width: 100%;
    height: 600px;
    background: url(38996hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.principal p{
    height: 100%;
    width: 100%;
    color: white;
    font-family: monospace;
    font-size: 22px;
    display: flex;
    text-align: justify;
}