*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background: powderblue;
    color: white;
}
nav{
    padding: 2px;
    height: 60px;
    background: #000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.logo{
    display: flex;
    align-items: center; 
}
.logo img{
    height: 50px;
    margin-right: 10px;

}

a{
    text-decoration: none;
    color: white;
    font-size: 26px;
    float: right;

}

nav a:hover{
    
    color: mediumaquamarine;
    border-bottom: 1px solid aquamarine;


}
nav #buscar{
    height: 30px;
    width: 200px;
    margin-right: 10px;
    font-family: monospace;
    color: black;
    outline: none;
    align-items: center;
    
}