* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	max-width: 90%;
	width: 100%;
	margin: 80px auto;
	display: flex;
	background: orange;
}
.formulario p{
	margin: 20px 0 10px 10px;
	
}
.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #3e14b2;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
    background: #fff;
	border: 2px solid black;
	border-radius: 30px;
}
/* --------------------------------------------- */
header{
	display: fixed;
	top: 0;
	right: 0;
	left: 0;
	box-sizing: border-box;
	background: black;
}
a{
	color: white;
	list-style: none;
	text-decoration: none;
	text-align: center;
}
#encabezado{
	display: flex;
	
}
#buscar{
	height: 50%;
}

.link{
	margin: 0 10px;
	margin-top: 10px;
}

.logo{
	display: flex;
	width: 20%;
	
}
.logo img{
	width: 45px;
	height: 45px;
	margin: 5px;
	
}
.opciones{
	width: 80%;
	
	display: flex;
	justify-content: right;
}
.horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

.horizontal > li:hover{
    background: #333;

}

.vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.horizontal li:hover .vertical{
    display: block;

}
.vertical li:hover{
    background-color: rgb(164, 93, 93);
}

.vertical li a {
    display: block;
    color: white;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
}



/* ---------------------------- */
